@font-face {
    font-family: monument;
    src: url(/MONUMENTEXTENDED-REGULAR.OTF);
}

@font-face {
    font-family: monumentBold;
    src: url(/MONUMENTEXTENDED-ULTRABOLD.OTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


#page1 {
    height: 100vh;
    width: 100%;
    background-color: #000009;
}

#nav {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}

#nav #left {
    font-size: 20px;
    text-transform: lowercase;
    padding: 0vw 2vw;
}

#nav #right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

#nav #right h5 {
    font-size: 18px;
    font-weight: 400;
    transition: all 0.2s ease;
}
#nav #right h5:hover{
    color: #545454;
    cursor: pointer;
}
#nav #right button {
    font-size: 18px;
    font-weight: 400;
    color: #000009;
    padding: .5vw 1vw;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
#nav #right button:hover{
    color: #ffffff;
    background-color: #363636;
    cursor: pointer;
}
#content {
    display: flex;
    align-items: center;
    /* margin-top: -4vw; */
}



#left-part {
    width: 50%;
    /* background-color: red; */
    padding: 4vw;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 1vw;
}
#left-part #imp-text{
    display: flex;
}

#left-part h2 {
    font-size: 6vw;
    text-transform: uppercase;
    font-family: 'monumentBold';
    line-height: 0.9;
    color: #4a4a4a;
}

#left-part h3 {
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: 'monument';
    font-weight: 100;
    color: #0079dd;
}

#left-part #price {
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: 'monument';
    font-weight: 100;
    color: #d0e4ff;
    margin: 10px 0px;
}



#left-part p {
    font-size: 16px;
    text-transform: capitalize;
    width: 24vw;
    color: #656565d1;
}

#left-part button {
    padding: 25px 35px;
    background-color: #191919;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'monument';
    font-weight: 400;
}

#left-part button:hover {
    cursor: pointer;
    background-color: #232323;
}

#center {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vw;
}

#center #bottle img {
    width: 33vw;
    margin-top: 7vw;
    margin-left: -16.5vw;
    position: absolute;
    z-index: 12;
    animation-name: Bottleanime;
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

#center #stand img {
    width: 33vw;
    margin-top: 23.2vw;
    height: 45vh;
    filter: drop-shadow(0px 0px 200px #05005f);
    transition: all ease .5s;
}
#center #stand img:hover{
    filter: drop-shadow(0px 0px 200px #0c00ec);
}

#right-part #box {
    height: 20vh;
    width: 40vh;
    background-color: #000009;
    overflow: hidden;
    margin-top: -10vw;

}

#right-part #box video {
    height: 20vh;
    width: 40vh;
}

#right-part p {
    width: 24vw;
    font-size: 12px;
    color: #545454;
}

#right-part {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5vw;
    gap: 2vw;
}

#right-part h6 {
    margin-left: -21vw;
    font-size: 17px;
    font-weight: 100;
}

#container {
    width: 30%;
    display: flex;
    gap: 1vw;
    margin-left: 3vw;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 9vw;
    position: absolute;
    border-radius: 10px;
}

#container .elem {
    height: 15vh;
    width: 10vw;
    border-radius: 10px;
}

#container .elem img {
    height: 16vh;
    border-radius: 10px;
}

@keyframes Bottleanime {
    0%{
        margin-top: 7vw;
    }
    50%{
        margin-top: 7.5vw;
    }
    100%{
        margin-top: 7vw;
    }
        
}